nextflow_path: /home/ubuntu/nextflow/nextflow
input_dir: /home/ubuntu/pipeline-watcher/input
output_dir: /home/ubuntu/pipeline-watcher/output
log_dir: /home/ubuntu/pipeline-watcher/logs
tower_access_token: <Token>
tower_address: <IP>
tb-pipeline:
  name: 'tb-pipeline'
  prefix: 'tb'
  command_pipeline: '/home/ubuntu/tb-pipeline/main.nf'
  config: null
  profile: 'docker'
  version: '20.11.0-edge'
  params:
    - unmix_myco: 'no'
    - kraken_db: 'kraken'
    - bowtie2_index: 'bowtie2_index'
    - bowtie_index_name: 'bowtie_index_name'
  with_tower: false
pipelines:
  - name: 'tb-pipeline/stub'
    prefix: 'tb-stub'
    command_pipeline: '/home/ubuntu/tb-pipeline/main.nf -stub'
    config: '/home/ubuntu/tb-pipeline/testing.config'
    params: null
    profile: null
    version: '20.11.0-edge'
    with_tower: true
  - name: 'nf-core/scrnaseq'
    prefix: 'scrnaseq'
    command_pipeline: 'nf-core/scrnaseq'
    config: null
    params:
     - outdir: '/home/ubuntu/pipeline-watcher/output/test_output/'
    profile: test,docker
    version: null
    with_tower: false
  - name: 'nf-core/smrnaseq'
    prefix: 'smrnaseq'
    command_pipeline: 'nf-core/smrnaseq'
    config: null
    params:
      - outdir: '/home/ubuntu/pipeline-watcher/output/test_output/'
    profile: test,docker
    version: null
    with_tower: false